* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(bg3.jpg);
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 555px;
    position: relative;
}

.container .header {
    background-color: #09c;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.member {
    background-color: #09c;
    width: 300px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.member img {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1);
    transition-duration: 2s;
    transition-delay: 2s;
}

.member:hover img {
    transform: scale(1.2);
}

.member .layout {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 153, 204, .5);
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition-duration: 2s;
    transform: rotate(0deg);
    overflow: hidden;
}

.member:hover .layout {
    opacity: 1;
    transform: rotate(360deg);
}

.member .layout h2 {
    background-color: #09c;
    padding: 10px 0px;
    margin-bottom: 15px;
}

.member .layout h2,
.member .layout p {
    transform: translate(100%);
}

.member:hover .layout h2,
.member:hover .layout p {
    transform: translate(0%);
    transition-delay: 4s;
    transition-duration: 2s;
}

.member:hover .layout p {
    transition-delay: 5s;
}

.container .box {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.box .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition-duration: 2s;
}

.container .box img {
    width: 100%;
}

.box:hover .front {
    transform: rotateY(180deg);
}

.box .back {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    transition-duration: 2s;
}

.box:hover .back {
    transform: rotateY(0);
}

.container .box .back:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: #2a3f55b3;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.box:hover .back:after {
    height: 100%;
    width: 100%;
    transition-delay: 2s;
    transition-duration: 2s;
    border-radius: 0;
}

.box .back h2 {
    background-color: #2a3f55;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: relative;
    left: 100%;
    z-index: 5;
}

.box:hover .back h2 {
    transition-duration: 2s;
    transition-delay: 4s;
    left: 0;
}

.box .back .dis {
    width: 90%;
    position: relative;
    left: 100%;
    z-index: 5;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 20px;
}

.back h3 {
    position: relative;
    z-index: 5;
    color: #0f0;
    transform: scale(0);
}

.box:hover .back h3 {
    transition-duration: 2s;
    transition-delay: 7s;
    transform: scale(1);
}

.back .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.back .row .col-6 {
    flex: 0 0 50%;
    margin: 10px 0;
}

.box .back .item {
    margin: 10px;
    transform: scale(0);
    z-index: 5;
    position: relative;
}

.box .back .row .item .skill {
    width: 90%;
    position: relative;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 20px;
    background-color: #0f0;
    z-index: 5;
}

.box:hover .back .dis {
    transition-duration: 2s;
    transition-delay: 6s;
    left: 0;
}

.box:hover .back .row .col-6:nth-of-type(1) .item {
    transition-delay: 8s;
    transition-duration: 1s;
    transform: scale(1);
}

.box:hover .back .row .col-6:nth-of-type(2) .item {
    transition-delay: 9s;
    transition-duration: 1s;
    transform: scale(1);
}

.box:hover .back .row .col-6:nth-of-type(3) .item {
    transition-delay: 10s;
    transition-duration: 1s;
    transform: scale(1);
}

.box:hover .back .row .col-6:nth-of-type(4) .item {
    transition-delay: 11s;
    transition-duration: 1s;
    transform: scale(1);
}